.port-navbar.port-default {
  width: 100%;
  z-index: 15;
  padding: 40px;

  .port-navbar {
    &-brand {
      font-size: 30px;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: bold;
      background: -webkit-linear-gradient(rgb(245, 243, 243), rgb(73, 233, 10));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

    }

    &-item {
      margin-left: 10px;
      margin-right: 10px;
    }

    &-link {
      color: whitesmoke;
      font-weight: bold;
      letter-spacing: 0.8px;
      font-size: 18px;
      text-transform: uppercase;

      &.active {
      color: rgb(22, 7, 107);
      }

      &:hover, &:focus {
        color: yellow;
      }
    }
  }
}